.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

p.error {
  background: rgba(255, 0, 0, 0.3);
  padding: 10px 15px;
}

.input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 20rem;
}

.submit {
  background: white;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.submit:hover {
  background: #eee;
}